@charset "UTF-8";

.commentcon{
	display:flex; 
 	flex-direction:column; 
 	width: 980px;
 	margin-left: 370px;
	
}
.container_com{
	text-align: left;
}
.comcontent{
	margin-top: 5px;
	font-weight: lighter;
}
.combtn{
	float: right;
}
.comadd{
	float: right;
}
.comdate{
	color: darkgray;
	font-size: 10px;
}